.content-width {
    max-width: 1280px;
    margin-left: auto;
    margin-right: auto;
}

main {
    $headerHeight: 156px;
    $footerHeight: 294.517px;
    $nonMainContentHeight: $headerHeight + $footerHeight;

    padding: 1rem;
    min-height: calc(100% - #{$nonMainContentHeight});
}

.vertical-center {
    vertical-align: middle;
}

.padded {
    padding: 1rem;
}

.remove-line-height {
    line-height: 0;
}
