$gap: 1rem;

.flex {
    display: flex;

    &.gap {
        gap: $gap;
    }

    &.gap-small {
        gap: $gap / 2;
    }

    &.flex-inline {
        display: inline-flex;
    }

    &.align-centre {
        align-items: center;
    }

    &.align-top {
        align-items: flex-start;
    }

    &.direction-vertical {
        flex-direction: column;
    }

    &.dynamic-mid {
        @media screen and (max-width: 720px) {
            display: block;

            & > * + * {
                margin-top: $gap;
            }
        }
    }

    & > * {
        flex: 1;
    }

    & > .flex-auto {
        flex: 0 0 auto;
    }

    & > .flex-1 {
        flex: 1;
    }

    & > .flex-2 {
        flex: 2;
    }

    & > .flex-3 {
        flex: 3;
    }
}
