<!DOCTYPE html>
<html lang="en">
    {{- partial "head.html" . -}}
    <body>
        {{- partial "page/header.html" . -}}
        <main>
            <div class="content-width">
                {{- block "main" . }}{{- end }}
            </div>
        </main>
        {{- partial "page/footer.html" . -}}
    </body>
</html>
