{{ define "main" }}
<section class="flex gap align-centre dynamic-mid text-centered">
    <div>
        <img src="/image/stressed-boy-face-in-book.jpg">
    </div>
    <div>
        <h1>404 - Not Found</h1>
        <p>The page you were looking for could not be found :(</p>
        <p>
            <a href="/">Return to home page</a>
        </p>
    </div>
</section>
{{ end }}
