{{ define "main" }}
<section class="no-top-padding">
    <div class="flex gap">
        <div class="front-image-container flex-auto">
            <img src="/image/girl-in-front-of-world-map.jpg">
            <h2>Ensuring a Successful Future for Your Children!</h2>
        </div>
    </div>
</section>
<section class="padded">
    <h2 class="text-centered">What We Do</h2>
    <div class="flex gap dynamic-mid">
        <div>
            <strong>Homeschooling & Tutoring Services</strong>
            <p>Caremont provides 1-on-1 tutoring sessions that are personalized and flexible to your schedule.</p>
            <p>Caremont, we understand that no two students are the same. Therefore, we offer carefully designed lesson plans specific to meet your child's needs.</p>
        </div>
        <div>
            <strong>Special Education Tutoring</strong>
            <p>At Caremont, we believe that it is vital in every child and young adult to have  properly tailored lesson plans. This is especially more important when it comes to our special needs students.</p>
            <p>Any student that has ADD, ADHD, Dyslexia, Down-Syndrome and other special needs needs a lot of positivity, positive reinforcements, empathy, creative and engaging learning sessions.</p>
        </div>
        <div>
            <strong>Online Sessions</strong>
            <p>1-on-1 online sessions are available through Zoom and simply need a computer and an internet connection.</p>
        </div>
        <div>
            <strong>Respite Services</strong>
            <p>We offer family or caregivers short-term relief.</p>
            <p>Respite services can be provided in the family's home, community outings or the care providers home and is available 24 hours a day, 7 days a week.</p>
        </div>
    </div>
</section>
<section class="text-centered background">
    <h2>About Us</h2>
    <p>At Caremont we create a fun and easy learning environment that utilizes progressive teaching techniques proven to help students learn better.</p>
    <p>Our tutors take their time getting to know your child and how they process information to make learning FUN and help them achieve their academic success.</p>
</section>
<section class="text-centered">
    <div class="flex gap align-centre dynamic-mid">
        <div>
            <h2>Contact Us</h2>
            <p>
                <strong>Email:</strong><br>
                <a href="mailto:{{ .Site.Data.contact.email }}">{{ .Site.Data.contact.email }}</a>
            </p>
            <p>
                <strong>Phone:</strong><br>
                <a href="tel:{{ .Site.Data.contact.phoneNumber }}">{{ .Site.Data.contact.phoneNumber }}</a>
            </p>
            <div>
                <strong>Social Media:</strong>
                <p class="flex gap">
                    <span class="text-right">
                        <a href="{{ .Site.Data.contact.facebook }}" target="_blank" rel="noopener noreferrer" title="Visit our Facebook page!">{{- partial "icon/facebook.svg" . -}}</a>
                    </span>
                    <span class="text-left">
                        <a href="{{ .Site.Data.contact.instagram }}" target="_blank" rel="noopener noreferrer" title="Visit our Instagram page!">{{- partial "icon/instagram.svg" . -}}</a>
                    </span>
                </p>
            </div>
        </div>
        <div>
            <img src="/image/schoolgirl-looking-up.jpg">
        </div>
    </div>
</section>
<section class="text-centered">
    <h2>Testomonials</h2>
    <div class="testomonials-container">
        <blockquote>
            <p>I have used KC's tutoring services for over a year, for my 6 year old son. Her professionalism, qualifications and commitment have satisfied our expectations.</p>
            <p>She is wonderful, patient, flexible with schedules and locations, she goes above and beyond her tasks.</p>
            <p>Fully recommended without hesitation even for children with special needs.</p>
            <cite>Deborah F.</cite>
        </blockquote>
    </div>
</section>
{{ end }}
