{{ define "main" }}
<section class="text-centered">
    <div class="flex gap align-centre dynamic-mid">
        <div>
            <h1>Contact Us</h1>
            <p>
                <strong>Email:</strong><br>
                <a href="mailto:{{ .Site.Data.contact.email }}">{{ .Site.Data.contact.email }}</a>
            </p>
            <p>
                <strong>Phone:</strong><br>
                <a href="tel:{{ .Site.Data.contact.phoneNumber }}">{{ .Site.Data.contact.phoneNumber }}</a>
            </p>
            <div>
                <strong>Social Media:</strong>
                <p class="flex gap">
                    <span class="text-right">
                        <a href="{{ .Site.Data.contact.facebook }}" target="_blank" rel="noopener noreferrer" title="Visit our Facebook page!">{{- partial "icon/facebook.svg" . -}}</a>
                    </span>
                    <span class="text-left">
                        <a href="{{ .Site.Data.contact.instagram }}" target="_blank" rel="noopener noreferrer" title="Visit our Instagram page!">{{- partial "icon/instagram.svg" . -}}</a>
                    </span>
                </p>
            </div>
        </div>
        <div>
            <img src="/image/schoolgirl-looking-up.jpg">
        </div>
    </div>
</section>
{{ end }}
