{{ define "main" }}
<h1>What We Do</h1>
<section class="no-top-padding">
    <p>Below is a breakdown of what we provide.</p>
    <p><a href="/contact-us">Contact us</a> if you have any questions or want to sign up.</p>
</section>
<section>
    <h2>Homeschooling & Tutoring Services</h2>
    <p>Caremont provides 1-on-1 tutoring sessions that are personalized and flexible to your schedule. At Caremont, we understand that no two students are the same. Therefore, we offer carefully designed lesson plans specific to meet your child's needs.</p>
</section>
<section>
    <h2>Special Education Tutoring</h2>
    <p>At Caremont, we believe that it is vital in every child and young adult to have  properly tailored lesson plans. This is especially more important when it comes to our special needs students.</p>
    <p>Any student that has ADD, ADHD, Dyslexia, Down-Syndrome and other special needs needs a lot of positivity, positive- reinforcements, empathy, creative and engaging learning sessions.</p>
</section>
<section>
    <h2>Online Sessions</h2>
    <p>1-on-1 online sessions are available through Zoom and simply need a computer and an internet connection.</p>
</section>
<section>
    <h2>Respite Services</h2>
    <p>We offer family or caregivers short-term relief.</p>
    <p>Respite services can be provided in the family's home, community outings or the care providers home and is available 24 hours a day, 7 days a week.</p>
</section>
{{ end }}
