<footer role="contentinfo">
    <div class="content-width">
        <p>
            Copyright &copy; {{ dateFormat "2006" now }} Caremont,
            <br>
            All Rights Reserved.
        </p>
        <p>
            <strong>Email: </strong><a href="mailto:{{ .Site.Data.contact.email }}">{{ .Site.Data.contact.email }}</a>
            <br>
            <strong>Phone: </strong><a href="tel:{{ .Site.Data.contact.phoneNumber }}">{{ .Site.Data.contact.phoneNumber }}</a>
        </p>
        <div class="flex gap-small">
            <div class="flex-auto">
                <strong>Social Media:</strong>
            </div>
            <div class="flex-auto">
                <a href="{{ .Site.Data.contact.facebook }}" target="_blank" rel="nofollow noreferrer" title="Visit our Facebook page!">{{- partial "icon/facebook.svg" . -}}</a>
            </div>
            <div class="flex-auto">
                <a href="{{ .Site.Data.contact.instagram }}" target="_blank" rel="nofollow noreferrer" title="Visit our Instagram page!">{{- partial "icon/instagram.svg" . -}}</a>
            </div>
        </div>
        <p>
            <small>
                Icons provided by <a href="https://fontawesome.com/license" target="_blank" rel="noopener noreferrer">Font Awesome</a>.
                Fonts provided by <a href="https://fonts.google.com" target="_blank" rel="noopener noreferrer">Google Fonts</a>.
                <br>
                Website built &amp; maintained by <a href="https://wjbaker.com" target="_blank" rel="noopener noreferrer">William Baker</a>.
            </small>
        </p>
    </div>
</footer>
