<header role="banner">
    <div class="content content-width flex align-centre dynamic-mid">
        <div class="logo-container flex-auto">
            <a href="/">
                <img width="80" height="90" src="/image/branding/logo.png">
            </a>
        </div>
        <nav role="navigation" class="flex-auto flex-item-end">
            <ul class="flex gap">
                <li class="flex-auto">
                    <a href="/">
                        About
                    </a>
                </li>
                <li class="flex-auto">
                    <a href="/what-we-do">
                        What We Do
                    </a>
                </li>
                <li class="flex-auto">
                    <a href="/contact-us">
                        Contact Us
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</header>
<div class="header-placeholder"></div>
