.front-image-container {
    position: relative;
    margin: 0 auto;
    max-width: 100%;

    h2 {
        max-width: 55%;
        position: absolute;
        bottom: 1rem;
        right: 1rem;
        color: #fff;
        text-shadow: 0 0 3px #000;
        text-align: right;
        font-size: 2.5rem;

        @media screen and (max-width: 720px) {
            font-size: 1.5rem;
        }

        @media screen and (max-width: 500px) {
            font-size: 1rem;
        }
    }
}
