.card {
    border-radius: BORDER_RADIUS();
    background-color: COLOUR('white');
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    overflow: hidden;

    &.top-decoration {
        border-top: 5px solid COLOUR('pastel-pink');
        border-top-right-radius: 0;
        border-top-left-radius: 0;
    }

    &.left-decoration {
        border-left: 5px solid COLOUR('pastel-pink');
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
    }

    &.dark-green-decoration {
        border-color: COLOUR('dark-green');
    }

    &.pastel-green-decoration {
        border-color: COLOUR('pastel-green');
    }

    &.pastel-orange-decoration {
        border-color: COLOUR('pastel-orange');
    }

    &.pastel-purple-decoration {
        border-color: COLOUR('pastel-purple');
    }

    &.pastel-pink-decoration {
        border-color: COLOUR('pastel-pink');
    }
}
