footer[role=contentinfo] {
    padding: 1rem;
    border-top: 1px solid COLOUR('dark-grey');

    @media screen and (max-width: 500px) {
        font-size: 0.8rem;
        line-height: 1.25em;
    }
}