.form-container {
    label {
        display: block;

        & + label,
        & + button {
            margin-top: 1rem;
        }
    }

    span {
        display: block;
        font-weight: bold;
    }
}
