header[role=banner] {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    background-color: COLOUR('light-grey');

    .content {
        padding: 2rem 1rem;

        @media screen and (max-width: 720px) {
            padding: 1rem;
        }
    }

    &::after {
        content: '';
        display: block;
        width: 100%;
        height: 2px;
        background-color: COLOUR('light-blue');
        background: linear-gradient(90deg, COLOUR('pink'), COLOUR('light-blue'));
    }

    .logo-container {
        line-height: 0;
        max-width: 80px;
        margin-right: auto;

        @media screen and (max-width: 720px) {
            text-align: center;
            margin-left: auto;
        }
    }

    nav[role=navigation] {
        margin-left: auto;

        ul {
            list-style: none;
            padding-left: 0;
            margin: 0;

            @media screen and (max-width: 720px) {
                justify-content: center;
            }
        }
    }

    a {
        text-decoration: none;
        color: inherit;

        &:hover {
            text-decoration: underline;
        }
    }
}

body.is-scrolling header[role=banner] {
    .content {
        padding: 1rem;
    }

    .logo-container {
        max-width: 50px;
    }

    nav {
        font-size: 0.8rem;
    }
}

.header-placeholder {
    height: 156px;
}

body.is-scrolling .header-placeholder {
    height: 90.25px;
}