.note {
    padding: 1rem;
    border-left: 5px solid COLOUR('pastel-pink');
    border-top-right-radius: BORDER_RADIUS();
    border-bottom-right-radius: BORDER_RADIUS();

    &.user-message {
        display: none;

        &.is-shown {
            display: block;
        }
    }

    &.is-error {
        border-color: COLOUR('error');
        color: COLOUR('error');
        background-color: transparentize(COLOUR('error'), 0.85);
    }
}
