html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-size: 16px;
    font-family: 'Nunito', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.6em;
    letter-spacing: 0.5px;
    overflow-x: hidden;
    background-color: COLOUR('light-grey');
}

*,
*::before,
*::after {
    box-sizing: border-box;
    transition: all 0.2s;
}
