blockquote {
    position: relative;
    padding: 2rem 1rem;
    max-width: 54rem;
    text-align: left;
    font-style: italic;

    p:first-of-type::before {
        content: '\201C';
        font-size: 2rem;
    }

    p:last-of-type::after {
        content: '\201D';
        font-size: 2rem;
        display: inline-block;
        position: relative;
        transform: translateY(100%);
    }

    cite {
        font-style: normal;

        &::before {
            content: '\2014  ';
        }
    }

    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        width: 2px;
        background-color: #637eff;
        background: linear-gradient(180deg, COLOUR('pink'), COLOUR('purple'));
    }

    & + blockquote {
        margin-top: 1rem;
    }
}

.text-centered blockquote {
    margin-left: auto;
    margin-right: auto;
}

blockquote + p {
    &::before {
        content: '- ';
    }
}
