button {
    position: relative;
    padding: 1rem 1.5rem;
    display: inline-block;
    border: none;
    font: inherit;
    line-height: 1em;
    border-radius: BORDER_RADIUS();
    cursor: pointer;
    background-color: COLOUR('blue');
    color: COLOUR('white');
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    transition: transform 0.3s, background-color 0.3s;

    &:focus,
    &:hover {
        outline: none;
        background-color: darken(COLOUR('blue'), 10);
    }

    &:active {
        transform: scale(0.9);
    }
}
