img {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
}

main img {
    border-radius: BORDER_RADIUS();
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.1), 1px 2px 3px rgba(0, 0, 0, 0.3);
}
