input,
textarea {
    max-width: 100%;
    position: relative;
    padding: 0.25rem 1rem;
    display: inline-block;
    border: none;
    font: inherit;
    border-radius: BORDER_RADIUS();
    background-color: COLOUR('white');
    border: 1px solid COLOUR('dark-green');
    transition: box-shadow 0.3s;

    &:focus {
        outline: 2px solid COLOUR('pastel-purple');
    }
}

textarea {
    width: 100%;
    height: 10rem;
    resize: vertical;
}
