section {
    position: relative;
    padding: 4rem 0;

    @media screen and (max-width: 500px) {
        padding: 2rem 0;
    }

    :first-child {
        margin-top: 0;
    }

    :last-child {
        margin-bottom: 0;
    }

    &.padded {
        padding: 6rem 0;

        @media screen and (max-width: 500px) {
            padding: 3rem 0;
        }
    }

    &.no-top-padding {
        padding-top: 0;
    }

    &.no-bottom-padding {
        padding-bottom: 0;
    }

    &.background {
        padding-right: 1rem;
        padding-left: 1rem;
        margin: 1rem 0;
        background-color: COLOUR('light-blue');
        background: linear-gradient(130deg, COLOUR('light-blue') 10%, COLOUR('dark-blue'));
        color: COLOUR('white');
        border-radius: BORDER_RADIUS();

        &::before {
            top: -1rem;
            left: 0;
        }
    }

    & + section {
        &::before {
            content: '';
            display: block;
            width: 100%;
            height: 1px;
            position: absolute;
            top: 0;
            background-color: COLOUR('light-blue');
            background: linear-gradient(90deg, COLOUR('purple'), COLOUR('pink'));
        }
    }
}
