<title>{{ .Title }}</title>

<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<meta name="description" content="{{ .Description }}">
<meta name="author" content="William Baker, wjbaker.com">

<meta property="og:url" content="https://caremontdeveloper.gitlab.io/">
<meta property="og:type" content="website">
<meta property="og:title" content="Caremont">
<meta property="og:description" content="We create a fun and easy learning environment that utilizes progressive teaching techniques proven to help students learn better.">
<meta property="og:image" content="https://caremontdeveloper.gitlab.io/image/branding/social-media-banner.jpg">

<meta name="twitter:card" content="summary_large_image">
<meta property="twitter:domain" content="caremontdeveloper.gitlab.io">
<meta property="twitter:url" content="https://caremontdeveloper.gitlab.io/">
<meta name="twitter:title" content="Caremont">
<meta name="twitter:description" content="We create a fun and easy learning environment that utilizes progressive teaching techniques proven to help students learn better.">
<meta name="twitter:image" content="https://caremontdeveloper.gitlab.io/image/branding/social-media-banner.jpg">

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Lora:wght@500&family=Nunito:wght@300;700&display=swap" rel="stylesheet">

{{ $style := resources.Get "style/main.scss" | resources.ToCSS (dict "outputStyle" "compressed") | fingerprint }}
<link rel="stylesheet" href="{{ $style.Permalink }}" integrity="{{ $style.Data.Integrity }}">

{{ if isset .Params "styles" }}
    {{ range $styleFile := .Params.styles }}
        {{ $style := resources.Get (delimit (slice "style/" $styleFile ".scss") "") | resources.ToCSS (dict "outputStyle" "compressed") | fingerprint }}
        <style>{{ $style.Content | safeCSS }}</style>
    {{ end }}
{{ end }}

{{ if isset .Params "scripts" }}
    {{ range $scriptFile := .Params.scripts }}
        {{ $fileLocation := (delimit (slice "script/" $scriptFile) "") }}
        {{ $options := dict "targetPath" $fileLocation }}
        {{ $script := resources.Get $fileLocation | js.Build $options | resources.Minify | fingerprint }}
        <script src="{{ $script.Permalink }}" integrity="{{ $script.Data.Integrity }}" defer></script>
    {{ end }}
{{ end }}

<script src="/script/client.js"></script>

{{ if isset .Params "external_scripts" }}
    {{ range $script := .Params.external_scripts }}
    <script src="{{ $script }}" defer></script>
    {{ end }}
{{ end }}
